.pagination {
  margin: 20px 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.pagination a {
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin: 0 4px;
  border-color: #929292;
  border-width: 1px;
  border-style: solid;
  font-size: 18px;
  text-align: center;
}
.pagination a.active {
  background: #a8c6fa;
}
